[Desktop Entry]
Name=3D Microscope Lab
Exec=xdg-open https://courses.ecampus.oregonstate.edu/bi206/virtual_scope/build.html
Icon=3d-microscope
Terminal=false
Type=Application
StartupNotify=true
