[Desktop Entry]
Name=Algodoo
Exec=env WINEPREFIX="/home/ailton/.wine" wine-stable C:\\\\windows\\\\command\\\\start.exe /Unix /home/ailton/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/Algodoo/Algodoo.lnk
Type=Application
StartupNotify=true
Path=/home/ailton/.wine/dosdevices/c:/Program Files (x86)/Algodoo
Icon=4869_Algodoo.0
StartupWMClass=algodoo.exe
