[Desktop Entry]
Version=1.0
Name=GChemCalc
GenericName=Chemical calculator
GenericName[de]=Chemie-Rechner
GenericName[el]=Χημική αριθμομηχανή
GenericName[es]=Calculadora química
GenericName[eu]=Kalklulagailu kimikoa
GenericName[fr]=Calculatrice chimique
GenericName[it]=Calcolatore chimico
GenericName[pl]=Kalkulator chemiczny
GenericName[pt_BR]=Calculadora química
GenericName[ru]=Химический калькулятор
GenericName[zh_CN]=化学计算器
GenericName[zh_TW]=化學計算機
Comment=A simple calculator for chemistry
Comment[de]=Ein einfacher Rechner für Chemiker
Comment[el]=Μια απλή αριθμομηχανή για χημεία
Comment[es]=Una sencilla calculadora para química
Comment[eu]=Kimikarako kalkulagailu sinple bat
Comment[fr]=Une calculatrice simple pour chimiste
Comment[it]=Un semplice calcolatore per chimica
Comment[pl]=Prosty kalkulator chemiczny
Comment[pt_BR]=Uma calculadora simples para químicos
Comment[ru]=Простой химический калькулятор
Comment[zh_CN]=简单的化学计算器
Comment[zh_TW]=化學簡易計算機
Exec=gchemcalc-0.14
Keywords=chemistry;calculator;
Icon=gchemcalc
Terminal=false
Type=Application
