[Desktop Entry]
Version=1.0
Name=GSpectrum
GenericName=Spectrum viewer
GenericName[de]=Spektrenbetrachter
GenericName[el]=Προβολέας φασμάτων
GenericName[es]=Visualizador de espectros
GenericName[eu]=Espektro ikustatzailea
GenericName[fr]=Visionneuse de spectres
GenericName[pl]=Przeglądarka widm
GenericName[zh_CN]=光谱查看器
Comment=A spectrum viewer for the GNOME desktop
Comment[de]=Ein Spektrenbetrachter für den GNOME Desktop
Comment[el]=Ένας προβολέας φασμάτων για την επιφάνεια εργασίας GNOME
Comment[es]=Un visualizador de espectros para el escritorio Gnome
Comment[eu]=GNOME mahaigainerako espektro ikustatzaile bat
Comment[fr]=Une visionneuse de spectre pour le bureau de GNOME
Comment[pl]=Przeglądarka widm dla pulpitu GNOME
Comment[zh_CN]=GNOME 桌面的光谱查看器
Comment[zh_TW]=Gnome 桌面的光譜瀏覽軟體
Exec=gspectrum-0.14
# TRANSLATORS: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=chemistry;spectrum;display;printer;
Keywords[fr]=chimie;spectre;affichage;imprimante;
Icon=gspectrum
Terminal=false
Type=Application
MimeType=chemical/x-jcamp-dx;
