[Desktop Entry]
Name=Planets
Comment=A simple interactive program for playing with simulations of planetary systems
Comment[da]=Et simpelt interaktivt program til at lege med simulering af planetsystemer
Exec=planets
Icon=planets
Terminal=false
Type=Application
