Package: appsedu-menus
Version: 0.1
Installed-Size: 
Maintainer: Crash and Eddie <crash.eddie123@gmail.com>
Section: science
Architecture: all
Priority: optional
Depends: geogebra-classic, wxmaxima, gresistor, step, avogadro
Description: Submenus para Aplicativos educationais.
 Os aplicativos educacionais ficaram divididos em submenus na categoria Educacional.
