[Desktop Entry]
Version=1.0
Name=FreeCAD Daily (No OpenGL)
Comment=Feature based Parametric Modeler
GenericName=CAD Application (No OpenGL)
Exec=env LIBGL_ALWAYS_SOFTWARE=1 freecad-daily --single-instance %U
Terminal=false
Type=Application
Icon=freecad-daily
StartupNotify=true
MimeType=application/x-extension-fcstd;
